*{
    padding: 0%;
    margin: 0%;
    color: white;
    
}
main{
    height: 50vh;
    width: 100vw;
}
.main-div{
    height: 50vh;
    width: 99.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid white;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(6,226,152,1) 0%, rgba(2,191,174,1) 100%);
}
.text-div{
    height: 40vh;
    width: 60vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
button{
    height: 7vh;
    width: 14vw;
    border-radius: 5px;
    border: none;
    color: rgb(1, 180, 136);
    background-color: white;
    font-size: 15px;
}