* {
  padding: 0%;
  margin: 0%;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  width: 100vw;
  height: inherit;
}
h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 1px solid black; */
}
.grid-rapper {
  display: grid;
  grid-template-columns: repeat(4, 24vw);
  grid-template-rows: repeat(3, 25vh);
  gap: 15px;
}
.shoe1 {
  grid-column: 1/2;
  grid-row: 1/2;
  /* border: 1px solid black; */
}
.shoe2 {
  grid-column: 2/3;
  grid-row: 1/2;
  /* border: 1px solid black; */
}
.shoe3 {
  grid-column: 3/4;
  grid-row: 1/2;
  /* border: 1px solid black; */
}
.shoe4 {
  grid-column: 4/5;
  grid-row: 1/2;
  /* border: 1px solid black; */
}
.shoe5 {
  grid-column: 1/2;
  grid-row: 2/3;
  /* border: 1px solid black; */
}
.shoe6 {
  grid-column: 2/3;
  grid-row: 2/3;
  /* border: 1px solid black; */
}
.shoe7 {
  grid-column: 3/4;
  grid-row: 2/3;
  /* border: 1px solid black; */
}
.shoe8 {
  grid-column: 4/5;
  grid-row: 2/3;
  /* border: 1px solid black; */
}
.shoe9 {
  grid-column: 1/2;
  grid-row: 3/4;
  /* border: 1px solid black; */
}
.shoe10 {
  grid-column: 2/3;
  grid-row: 3/4;
  /* border: 1px solid black; */
}
.shoe11 {
  grid-column: 3/4;
  grid-row: 3/4;
  /* border: 1px solid black; */
}
.shoe12 {
  grid-column: 4/5;
  grid-row: 3/4;
  /* border: 1px solid black; */
}
